.nodered/flows.json
[{"id":"38b58bf683ef61cb","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"0ddf132b25a4eef7","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"66138d978320fc5ff035f18e00e87b66bfd5378c6160fa792c168706a1b297de-certificate.pem.crt","keyname":"66138d978320fc5ff035f18e00e87b66bfd5378c6160fa792c168706a1b297de-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"8004047da8c5b9e4","type":"mqtt-broker","name":"AWS-IoT-Core","broker":"a3pfkcxof0uxpy-ats.iot.eu-north-1.amazonaws.com","port":"8883","tls":"0ddf132b25a4eef7","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a10d6c957f5c9a0a","type":"mongodb4-client","name":"","protocol":"mongodb","hostname":"pfe.ggfaafp.mongodb.net","port":"","dbName":"VoltmeterV1","appName":"","authSource":"","authMechanism":"DEFAULT","tls":false,"tlsCAFile":"","tlsCertificateKeyFile":"","tlsInsecure":false,"connectTimeoutMS":"30000","socketTimeoutMS":"0","minPoolSize":"0","maxPoolSize":"100","maxIdleTimeMS":"0","uri":"mongodb+srv://janithakarunarathna12:E3OUigKBJAVPHgAi@voltmeterv1.vxefnw8.mongodb.net/?retryWrites=true&w=majority&appName=VoltmeterV1","advanced":"{}","uriTabActive":"tab-uri-advanced"},{"id":"7cdb189bf4241d07","type":"mqtt in","z":"38b58bf683ef61cb","name":"","topic":"nodemcu/voltmeter","qos":"0","datatype":"auto-detect","broker":"8004047da8c5b9e4","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":120,"wires":[["55b84e2cfa8ef00b"]]},{"id":"2b0e52ac340e4edb","type":"mongodb4","z":"38b58bf683ef61cb","clientNode":"a10d6c957f5c9a0a","mode":"collection","collection":"testrun1","operation":"insertOne","output":"toArray","maxTimeMS":"0","handleDocId":false,"name":"","x":740,"y":120,"wires":[["94680a50905e1ff9"]]},{"id":"55b84e2cfa8ef00b","type":"function","z":"38b58bf683ef61cb","name":"Format Data","func":"msg.payload.timestamp = new Date();\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":180,"wires":[["2b0e52ac340e4edb"]]},{"id":"94680a50905e1ff9","type":"debug","z":"38b58bf683ef61cb","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":120,"wires":[]}]